.row{
  text-align: center;
}

.img-fluid{
  background-color: #08F42A;
  height: 500px;
  padding: 5px 20px 20px 20px;
  margin: 10px;
}

.material-icons{
  font-size: 50px;
  color: #275a56!important;
}


.about-me-text{
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .img-fluid{
    height: 400px;
  }
}
