<div id="about-me" class="container-custom">
  <h1 class="center-text">O mnie</h1>

  <div class="row seperator container-custom">
    <div class="col-xl-6 col-md-6 col-sm-12">
      <img class='img-fluid ' src="../../assets/images/moi5.png" alt="">
    </div>
    <div class="col-xl-6 col-md-6 col-sm-12 center-text">
      <div class="text">
        Nazywam się Bartosz Glanowski. Jestem absolwentem Uniwersytetu Śląskiego w Katowicach.
        Ukończyłem kierunek Informatyka na wydziale Nauk Ścisłych i Technicznych. Swoją przyszłość wiążę z programowaniem, docelowo chciałbym zostać Full Stack
        Web Developerem. Obecnie pewniej czuję się w warstwie backend java wraz z frameworkiem Spring, chociaż staram się również rozwijać w kierunku frontendu Angular.
        Moje hobby to kulinaria, sporty siłowe oraz wspinaczka. Fan suspensu oraz 'dobrej' muzyki.
        <br>Zapraszam do zapoznania się z moimi projektami.
        <br><a href="#projects" class="material-icons icon-animate">arrow_circle_down</a>
      </div>
    </div>
  </div>
</div>
