.row{
  text-align: center;
}

.img-fluid{
  height: 500px;
  padding: 5px 20px 20px 20px;
  margin: 10px;
  animation: skew 6s;
}


@keyframes skew
{
  0% { transform: skew(0deg, 0deg) scale(0.1);}
  10%   { transform: skew(15deg, 15deg) scale(0.2);}
  20%   { transform: skew(-15deg, -15deg) scale(0.3);}
  30%   { transform: skew(15deg, 15deg) scale(0.4);}
  40%   { transform: skew(-15deg, -15deg)  scale(0.5);}
  50%   { transform: skew(15deg, 15deg) scale(0.6);}
  60%   { transform: skew(-15deg, -15deg) scale(0.7);}
  70%   { transform: skew(15deg, 15deg) scale(0.8);}
  80%   { transform: skew(-15deg, -15deg) scale(0.9);}
  90%   { transform: skew(15deg, 15deg) scale(1);}
  100%   { transform: skew(0deg, 0deg) scale(1);}
}

.material-icons{
  font-size: 50px;
  color: #275a56!important;
}


.about-me-text{
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .img-fluid{
    height: 400px;
  }
}
