<div id="projects">
  <h1 class="center-text">Projekty</h1>

  <div class="section seperator container-custom ">
    <h1 style="text-align: center">Automatyczna Deskrypcja Obrazu</h1>
    <div class="row text">
      <div class="col-xl-6 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-xl-12 col-md-8 col-sm-12">
            Głównym celem projektu było stworzenie aplikacji pomagającej osobom
            niepełnosprawnym. Aplikacja udostępnia zalogowanym użytkownikom takie funkcje jak
            etykietowanie obiektów znajdujących się na obrazku czy przegląd przeanalizowanych
            wcześniej obrazów. Aplikacja opiera swój rdzeń działania na publicznym programowalnym
            interfejsie aplikacji Vision AI.
            Aplikacja jest spersonalizowana pod użytkownika niepełnosprawnego.
            Dzięki temu że aplikacja opiera się o koncept progresywnej aplikacji
            internetowej umożliwia robienia zdjęć i przesyłanie ich bezpośrednio do programu.
          </div>
          <div class="col-xl-4 col-md-8 col-sm-12 seperator">
            <h2> Linki: </h2>
            <a target="_blank" href="https://github.com/Salixu/ado-app">
              <img class="icon icon-animate" src="../../assets/images/github.png" alt="">
            </a>
            <a target="_blank" href="https://ado-app.herokuapp.com/">
              <img class="icon icon-animate" src="../../assets/images/globe.png" alt="">
            </a>
          </div>
          <div class="col-xl-4 col-md-8 col-sm-12 seperator status-finished">
            <h2> Status projektu: </h2>
            <b>Zakończony</b>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-4 col-sm-12 center-text">
        <div class="row">
          <div class="col-xl-12 col-md-8 col-sm-12">
            <h2>Stack technologii projektu</h2>
          </div>
            <div class="col-xl-12 col-md-8 col-sm-12 seperator stack-icons">
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/java.png')">
                <p class="text-white">Java 11</p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/spring.png')">
                  <p class="text-white">Spring Boot Framework</p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/angular.png')">
                <p class="text-white">Angular Framework </p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/cloud.png')">
                <p class="text-white">Google cloud<br>Vision AI<br> Translation AI</p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/hibernate.png')">
                <p class="text-white">Hibernate opakowany w Spring Data Jpa</p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/mysql.png')">
                <p class="text-white">MySql</p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/rest.png')">
                <p class="text-white">Rest API</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="section seperator container-custom">
    <h1 class="" style="text-align: center">Dziennik lekcyjny</h1>

    <div class="row text">
      <div class="col-xl-6 col-md-4 col-sm-12 center-text">
        <div class="row">
          <div class="col-xl-12 col-md-8 col-sm-12">
            <h2>Stack technologii projektu</h2>
          </div>
          <div class="col-xl-12 col-md-8 col-sm-12 seperator stack-icons">
            <div class="col-xl-12 col-md-8 col-sm-12 seperator stack-icons">
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/java.png')">
                <p class="text-white">Java 11</p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/spring.png')">
                <p class="text-white">Spring Boot Framework</p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/angular.png')">
                <p class="text-white">Angular Framework </p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/hibernate.png')">
                <p class="text-white">Hibernate opakowany w Spring Data Jpa</p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/mysql.png')">
                <p class="text-white">MySql</p>
              </div>
              <div class="icon-info icon-bg" style="background-image: url('../../assets/images/rest.png')">
                <p class="text-white">Rest API</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-xl-12 col-md-8 col-sm-12 center-text">
            Aplikacja służy jako dziennik lekcyjny. Projekt implementuje podstawowego CRUD'a. Nauczyciel tworzy grupy oraz formy sprawdzania wiedzy wraz z wagami.
            Umożliwione jest sprawdzanie obecności jaki edycja ocen. System automatycznie usuwan najsłabszą ocenę dla ucznia posiadającego 100% obecności.
            Gra tworzona w grupie 2 osobowej na potrzeby zaliczenia modułu na studiach.
          </div>
          <div class="col-xl-4 col-md-8 col-sm-12 seperator">
            <h2> Linki: </h2>
            <a target="_blank" href="https://github.com/Czandi/itapp">
              <img class="icon icon-animate" src="../../assets/images/github.png" alt="">
            </a>
          </div>
          <div class="col-xl-4 col-md-8 col-sm-12 seperator status-finished">
            <h2> Status projektu: </h2>
            <b>Zakończony</b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section seperator container-custom ">
    <h1 style="text-align: center">Kreator topo</h1>
    <div class="row text">
      <div class="col-xl-6 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-xl-12 col-md-8 col-sm-12">
            Docelowo aplikacja ma umożiwić rysowanie dróg wspinaczkowych na przesyłanych zdjęciach i przechowywanie ich w bazie.
            Obecnie rozwijana jest warstwa frontendu, dopracowywany jest system rysowania dróg na podstawie punktów.
            Rysowanie stworzone jest za pomocą elementu Canva, autor tworzy punkty na skalowalnym obrazie drogi. Następnie za pomocą funkcji rysowania tworzone są
            krzywe Béziera.
          </div>
          <div class="col-xl-4 col-md-8 col-sm-12 seperator">
            <h2> Linki: </h2>
            <a target="_blank" href="https://github.com/Salixu/CruxRepo">
              <img class="icon icon-animate" src="../../assets/images/github.png" alt="">
            </a>
            <a target="_blank" href="https://cruxtopo.herokuapp.com/">
              <img class="icon icon-animate" src="../../assets/images/globe.png" alt="">
            </a>
          </div>
          <div class="col-xl-4 col-md-8 col-sm-12 seperator status-ongoing">
            <h2> Status projektu: </h2>
            <b>Rozwijany</b>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-4 col-sm-12 center-text">
        <div class="row">
          <div class="col-xl-12 col-md-8 col-sm-12">
            <h2>Stack technologii projektu</h2>
          </div>
          <div class="col-xl-12 col-md-8 col-sm-12 seperator stack-icons">
            <div class="icon-info icon-bg" style="background-image: url('../../assets/images/angular.png')">
              <p class="text-white">Angular Framework </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section seperator container-custom">
    <h1 class="" style="text-align: center">RAJTS prosta gra 2d</h1>

    <div class="row text">
      <div class="col-xl-6 col-md-4 col-sm-12 center-text">
        <div class="row">
          <div class="col-xl-12 col-md-8 col-sm-12">
            <h2>Stack technologii projektu</h2>
          </div>
          <div class="col-xl-12 col-md-8 col-sm-12 seperator stack-icons">
            <div class="icon-info icon-bg" style="background-image: url('../../assets/images/html5.png')">
              <p class="text-white">HTML5</p>
            </div>
            <div class="icon-info icon-bg" style="background-image: url('../../assets/images/css.png'); width: 80px;">
              <p class="text-white">CSS3</p>
            </div>
            <div class="icon-info icon-bg" style="background-image: url('../../assets/images/js.png')">
              <p class="text-white">Javascript</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-8 col-sm-12">
        <div class="row">
          <div class="col-xl-12 col-md-8 col-sm-12 center-text">
            Prosta gra platformowa 2d, projekt stworzony na potrzeby zaliczenia modułu na uczelni.
          </div>
          <div class="col-xl-4 col-md-8 col-sm-12 seperator">
            <h2> Linki: </h2>
            <a target="_blank" href="https://github.com/Salixu/Simple-2d-platform-game">
              <img class="icon icon-animate" src="../../assets/images/github.png" alt="">
            </a>
            <a target="_blank" href="https://simple-2d-game.herokuapp.com/">
              <img class="icon icon-animate" src="../../assets/images/globe.png" alt="">
            </a>
          </div>
          <div class="col-xl-4 col-md-8 col-sm-12 seperator status-finished">
            <h2> Status projektu: </h2>
            <b>Zakończony</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
