<div id="projects" class="container-custom seperator">
  <h1 style="text-align: center">Nazwa robocza</h1>

  <div class="row text">
    <div class="col-xl-6 col-md-8 col-sm-12">
      Jestem zdeterminowany do tego aby ulepszać swoje umiejętności programistyczne, staram podchodzić się do życia z chłodną głową. Moje hobby to kulinaria, sporty siłowe oraz wspinaczka. Fan suspensu, 'dobrej' muzyki oraz amator filozoficznych potyczek.
      Zapraszam do zapoznania się z moimi projektami.
    </div>
    <div class="col-xl-6 col-md-8 col-sm-12 center-text">
      <div class="row">
        <div class="col-xl-12 col-md-8 col-sm-12">
          <h2>Stack technologii projektu</h2>
        </div>
          <div class="col-xl-12 col-md-8 col-sm-12">
            <a href="">
              <img class="icon icon-animate" src="../../assets/images/spring.png" alt="">
            </a>
            <a href="">
              <img class="icon icon-animate" src="../../assets/images/spring.png" alt="">
            </a>
            <a href="">
              <img class="icon icon-animate" src="../../assets/images/spring.png" alt="">
            </a>
          </div>
        </div>
    </div>
  </div>
  <h1 class="seperator" style="text-align: center">Nazwa robocza</h1>

  <div class="row text">
    <div class="col-xl-6 col-md-8 col-sm-12 center-text">
      <div class="row">
        <div class="col-xl-12 col-md-8 col-sm-12">
          <h2>Stack technologii projektu</h2>
        </div>
        <div class="col-xl-12 col-md-8 col-sm-12">
          <a href="">
            <img class="icon icon-animate" src="../../assets/images/spring.png" alt="">
          </a>
          <a href="">
            <img class="icon icon-animate" src="../../assets/images/spring.png" alt="">
          </a>
          <a href="">
            <img class="icon icon-animate" src="../../assets/images/spring.png" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-8 col-sm-12">
      Jestem zdeterminowany do tego aby ulepszać swoje umiejętności programistyczne, staram podchodzić się do życia z chłodną głową. Moje hobby to kulinaria, sporty siłowe oraz wspinaczka. Fan suspensu, 'dobrej' muzyki oraz amator filozoficznych potyczek.
      Zapraszam do zapoznania się z moimi projektami.
    </div>
  </div>
</div>
