.navigation-menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0;
}


.container-custom-top{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 2rem;
  position: fixed;
}

.item {
  margin: 30px;
  list-style: none;
}
.mat-button-bg-color{
  background-color: #275a56;
  font-size: 1.5rem;
  color: #fff;
  font-family: 'Nunito', sans-serif;

}


.item > a{
  color: black;
}

@media (max-width: 500px) {
  .container-custom-top{
    height: 5rem;
    bottom: 0px;
    z-index: 100;
  }
  .item{
    margin: 10px;
  }
}
