/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}

.container-custom{
  max-width: 1600px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border: none #ccc;
}

.seperator{
  box-shadow: 0 -4px 6px -5px rgb(0 0 0 / 60%);
  -webkit-box-shadow:  0 -4px 6px -5px rgb(0 0 0 / 60%);
  -moz-box-shadow:  0 -4px 6px -5px rgb(0 0 0 / 60%);
}



a:hover{
  text-decoration: none;
}

